extends layout.pug

block content 
    section.vh-80

        .container-fluid
            
            .row
                .col-sm-6.text-black
                    .px-5.ms-xl-4
                    i.fas.fa-crow.fa-2x.me-3.pt-5.mt-xl-4(style='color: #709085;')
                    span.h1.fw-bold.mb-0 Logo
                    .d-flex.align-items-center.h-custom-2.px-5.ms-xl-4.mt-5.pt-5.pt-xl-0.mt-xl-n5
                    form(action="/register" method="post")
                        h3.fw-normal.mb-3.pb-3(style='letter-spacing: 1px;') Register
                        .form-outline.mb-4
                        input.form-control.form-control-lg(type='text' name="username" autocomplete="off")
                        label.form-label(for='name') User Name
                        input.form-control.form-control-lg(type='email' name="email")
                        label.form-label(for='rmail') Email address
                        .form-outline.mb-4
                        input.form-control.form-control-lg(type='password' name="password")
                        label.form-label(for='password') Password
                        .pt-1.mb-4
                        input.btn.btn-info.btn-lg.btn-block(type='submit' value="Register") 
                        p.small.mb-5.pb-lg-2
                        p
                        | Have an account? 
                        a.link-info(href='/login') Log in here
                .col-sm-6.px-0.d-none.d-sm-block
                    img.w-100.vh-80(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp' alt='Login image' style='object-fit: cover; object-position: left;')
